/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
margin: 20px 10px 20px 12em;
background: #f5f5ff url("../images/poweredbyiChair.gif") no-repeat fixed bottom left;
font-family: sans-serif;
font-size: 12px;
}

body.nomargin{
margin: 20px;
background: #f5f5ff;
}

a {
text-decoration: none;
font-weight: bold;
color: #88c;
}

p {
text-align: justify;
}

input, textarea, select {
background: #fffff7;
margin-bottom: 10px;
font-size: 12px;
}

input, textarea {
border: 2px #88c solid;
padding: 2px;
}

input.id {
margin: 10px 0px 0px 10px;
}

input.noBorder {
background: transparent;
border: none;
}

table.disclaimer {
width: 50em;
}

h1 {
background: #fffff5;
text-align: center;
margin-top: 0px;
border: 2px #88c solid;
padding: 2px 0px 2px 0px;
}

h2 {
margin: 30px 0px 10px 0px;
padding-right: 25px;
background: transparent url("../images/h2.gif") no-repeat bottom right;
border-bottom: 2px #88c solid;
}

h2 a {
color: #000;
}

/*               *
 *  Left panel   *
 *               */

.navigate {
position: absolute;
top: 20px;
left: .5em;
width: 11em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #88c;
color: #fffff5;
font-weight: bold;
}

.navigateTitle a {
color: #fffff5;
padding: 4px 0px;
display: block;
}

.navigateLinks {
border: 2px #88c solid;
margin: 2px 0px 20px 0px;
background: #fffff5;
}

.navigateLinks p { 
margin: 2px;
text-align: center;
}

.navigateLinks p.topLine { 
padding-top: 2px;
border-top: solid 2px #88c;
}

.navigateLinks a {
padding: 4px 0px;
display: block;
}

.navigateLinks a.noblock {
padding: 0px;
display: inline;
}


.navigateLinks a:hover {
background: #88c;
color: #fffff5;
}

.navigateLinks a.noblock:hover {
background: #88c;
color: #fffff5;
}

.navigateTimes {
border: 2px #88c solid;
margin: 2px 0px 10px 0px;
background: #fffff5;
padding: 2px;
}

.timeTitleTop {
font-weight: bold;
color: #88c;
}

.timeTitle {
margin-top: 2px;
border-top: 2px #88c solid;
padding-top: 2px;
font-weight: bold;
color: #88c;
}

.time {
font-weight: bold;
}

.time .timeUp {
font-size: 150%;
color: #f00;
}

.navigateImages img {
border: none;
width: 90%;
text-align: center;
margin-bottom: 10px;
}


/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
border: 2px #090 dashed;
font-weight: bold;
color: #090;
margin: 50px;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 2px red dashed;
font-weight: bold;
color: #F00;
margin: 50px;
}


/*         *
 * buttons *
 *         */

.buttonLink {
border: 2px #88c solid;
padding: 2px 5px 1px 5px;
font-weight: bold;
color: #88c;
margin: 2px;
background: #fffff7;
}

.buttonLink:hover {
border-color: #fffff7;
color: #fffff7;
background-color: #88c;
}

.bigButton {
font-size: 120%;
border-width: 4px;
padding: 5px 20px 4px 20px;
margin: 10px 2px;
}


/*               *
 * article boxes *
 *               */

.authorBoxWidth {
  padding: 5px;
  white-space: nowrap;
}

.authorBox {
  margin: 5px 10px 5px 0px;
  border: 2px #bbb dashed;
  float: left;
  overflow: hidden;
}

.removeAuthor {
  margin: -4px;
  border: none;
}

.paperBox {
margin: 20px 0px 0px 0px;
}

.paperBoxTitle {
background: #88c;
color: #fffff5;
padding: 2px;
margin-bottom: 2px;
}

.paperBoxNumber {
float: left;
font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
}

.paperBoxDetails {
border: 2px #88c solid;
background: #fffff5;
padding: 10px;
}

.paperBox .previewImage {
float: right;
}

.paperBox .previewImage img {
margin: 0px;
}


/*               *
 * image preview *
 *               */

.previewImage{
text-align: center;
}

.previewImage img{
margin: 20px;
border: 2px #88c solid;
}


.showPreview{
padding: 10px;
background: #fffff5;
text-align: center;
border: 2px #88c solid;
}

.previewImage a img{
border: 2px #88c solid;
}

.showPreview img{
border: 2px #88c solid;
}



/*         *
 * various *
 *         */

.floatRight {
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract{
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.bottomEmail {
font-size: 80%;
float:right;
margin: 20px 0;
text-align: right;
}
