/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
margin: 10px 15em 10px 10px;
background: #ffe;
font-family: "trebuchet MS", sans-serif;
font-size: 11px;
}

body.nomargin{
margin: 10px;
background: #ffe;
}

a {
text-decoration: none;
border-bottom: 1px solid #1085BD;
border-left: none;
border-right: none;
font-weight: normal;
color: #c43;
/*cursor: alias;*/
}

a:hover { 
background: #fff2f2;
}

p {
text-align: justify;
}


h1 {
font-size: 200%;
background: #050170 top left no-repeat;
text-align: center;
margin-right: -7.25em;
margin-top: 0px;
/*border: 1px solid #fbb;*/
padding:  1px;
font-weight: normal;
border-radius: 4px;
color: #fff;
}

body.nomargin h1 { 
margin-right: 0px;
}

h2 {
text-align: left;
font-size: 155%;
margin: 30px 0px 10px 0px;
padding: 3px 4px 1px 4px;
background: #000092 top left no-repeat;
/*border: 1px #fbb solid;*/
font-weight: normal;
border-radius: 3px;
color: #fff;
}

h2 a {

border: none;color:#fff;
}

h2 a:hover { 
  background: transparent;  color: #6FF;
}

input, textarea, select {
background: #f2fff2 url("../images/coin-vert3.gif") top right no-repeat;
padding: 2px;
font-size: 11px;
}

input, textarea {
border: 1px #aeb solid;
padding: 2px;
}

label { 
cursor: pointer;
}

input.id {
margin: 10px 0px 0px 10px;
}

select.gradeSelect {
min-width: 4em;
}

input.noBorder {
background: transparent;
border: none;
}

table.disclaimer {
width: 60em;
text-align: justify;
}

table {
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

/*               *
 *  Right panel   *
 *               */

.navigate {
top: 5em;
right: .5em;
width: 14em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #1717D3 top left no-repeat;
color: #fafafa;
padding: 4px 4px;
/*border: 1px solid #bbf;*/
}

.navigateTitle a {
color: #fafafa;
border: none;
display: block;
}

.navigateTitle a:hover { 
background: transparent;
color: #cacaca;
}

.navigateLinks {
border: 1px solid #bbf;
margin: 1px 0px 20px 0px;
background: #fff;
}

.navigateLinks p { 
margin: 0px 0px;
text-align: center;
}

.navigateLinks p.topLine { 
padding-top: 2px;
/*border-top: dashed 1px #bbf;*/
}

.navigateLinks a {
padding: 4px 0px 4px 4px; 
display: block;
}

.navigateLinks a.noblock {
padding: 0px;
display: inline;
}


.navigateLinks a:hover {
background: #B3D5FA;
}

.navigateLinks a.noblock:hover {
background: #B3D5FA;
}

.navigateLinks p.guidelines {
border-bottom: 1px solid #1085BD;
border-left: none;
border-right: none;
padding-bottom: 1px;
}

.navigateLinks p.guidelines:hover {
background: #fff2f2;
}

.navigateLinks a.guidelines {
border: none;
padding-bottom: 0px;
}

.navigateLinks p.guidelines a.noblock:hover {
background: #fff;
}

.navigateTimes {
border: 1px #bbf solid;
margin: 1px 0px 10px 0px;
padding: 2px;
background: #fff;
}

.timeTitleTop {
color: #c43;
}

.timeTitle {
margin-top: 2px;
border-top: 1px #bbf dashed;
padding-top: 2px;
color: #c43;
}

.time {
}

.time .timeUp {
font-size: 150%;
color: #f00;
}

.navigateImages a { 
border: none;
background: transparent;
}

.navigateImages img {
border: none;
width: 90%;
text-align: center;
margin-bottom: 10px;
}


.bottomSpacer {   
height: 20em;
}

/*          *
 * messages *
 *          */

.OKmessage {
padding: 5px 15px 5px 15px;
border: 1px #090 solid;
color: #090;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 1px red solid;
color: #F00;
margin: 30px 50px;
background: #fff;
font-size: 120%;
}

.messageBox {
width: 50em; 
padding: 5px;
border: 1px #ccc solid;
font-family: "courier new", fixed;
font-weight: bold;
background: #fff;
}

.paperBoxDetails .messageBox {
margin: 3px 0 0 3px;
}

.paperBoxDetails .ERRmessage {
margin: 10px 50px;
}

.infoMessage {
margin: 10px 50px;
padding: 5px 15px;
border: 1px solid #bbf;
text-align: justify;
background: #fff;
}

/*         *
 * buttons *
 *         */

.buttonLink {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px 1px 2px 3px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
cursor: pointer;
}

label.buttonLink {
display: block;
}

.buttonLink:hover {
color: #fff;
background: #888;
}

.bigButton {
font-size: 120%;
border-width: 1px;
padding: 4px 20px 4px 20px;
margin: 10px 2px;
}

a.buttonLink {
padding: 2px 5px 2px 5px;
}

.buttonLink a {
color: #666;
}

.currentButton {
color: #fff;
background: #888;
}

.incrButton {
margin: 0; padding: 0;
border: none;
width: 25px; /* 25 instead of 20 for safari */
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/incr.gif") no-repeat bottom left;
}

.decrButton {
margin: 0; padding: 0;
border: none;
width: 25px; 
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/decr.gif") no-repeat top left;
}


/*               *
 * article boxes *
 *               */

.paperBox {
margin: 20px 0px 0px 0px;
text-align: left;
}

.paperBoxTitle {
background: #f2f2ff url("../images/coin-bleu.gif") top left no-repeat;
border: 1px #bbf solid;
padding: 2px;
margin-bottom: 1px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-size: 200%;
margin: 0px 20px 0px 7px;
text-align: left;
color: #333;
}

.paperBoxDetails {
border: 1px #bbf solid;
padding: 5px;
background: #fff;
}

.paperBoxDetails:after, .paperBoxDetailsCommittee:after {
  content: "";
  display: block;
  clear: both;
}

.paperBoxDetailsWithdrawn {
border: 1px #fbf solid;
background: #fff url("../images/withdrawn.gif");
padding: 5px;
}

.paperBoxDetailsCommittee {
border: 1px #ec8 solid;
background: #fff url("../images/committee.gif");
padding: 5px;
}

.customchecks {
  font-size: 13px;
  float: right;
  clear: right;
  text-align: right;
  font-weight: bold;
  color: #a2a;
}

.accept_reject_customcheckboxes {
  float: right;
  margin-right: 10px;
  margin-top: -2px;
}

.paperBox .previewImage {
float: right;
}

.paperBox .badRatio {
font-size: 200%;
font-weight: bold;
color: #f00;
}
 
.paperBox .goodRatio {
font-size: 200%;
font-weight: bold;
color: #004;
}

/*         *
 * Pop-up  *
 *         */

.popUp {
position: relative;   
cursor: context-menu; 
}
 
.popUp input {
cursor: context-menu;
}
 
.popUp a {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px;
background: #f0f0f0 url("../images/coin-gris2.gif") top left no-repeat;
display: block;
}

.popUp a:hover {
background: #888;
color: #fff;
}
 
.popUp .hidden {
visibility: hidden;   
display: block;
position: absolute;
top: 3.5em;
left: 0;   
width: 64em;
z-index: 125;
background: transparent;
}
 
.popUp:hover .hidden {
visibility: visible;
}

.popUp .hiddenOpposite {
visibility: hidden;
display: block;
position: absolute;
top: 3.5em;
right: 0;  
width: 55em;
margin: 0;  
padding: 0px;
z-index: 125;
background: transparent;
}
 
.popUp:hover .hiddenOpposite {
visibility: visible;
}
 

/*         *
 * various *
 *         */

.w3cValid {
margin: 20px 0 0; padding: 0;
top: 100%;
width: 88px;
height: 31px;
}

.newComment {
background: #ffc;
font-weight: bold;
}

.red {
color: #f00;
}


.floatRight {
float: right;
}

.floatLeft {
float: left;
}
 
.floatRightClear {
clear: both;
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract, .chairComments, .nameList {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.chairComments, .nameList {
  font-style: italic;
}

.nameList {
padding: 2px 20px;
}

.versionAbstract p {
margin: 0; padding: 0;
}
 
.profileLeft {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
border-right: solid #666 1px;
}
 
.profileRight {
margin: 0 0 0 20px;
padding: 0 0 0 20px;
border-left: solid #666 1px;
}

.bigNumber {
font-size: 200%;
color: #333;
}

.voidReview {
color: #f00;
}
 
.inProgressReview {
color: #f93;
}
 
.completedReview {
color: #2c2;
}
 
.acceptArticle {
color: #2c2;
}
 
.maybeAcceptArticle {
color: #cc0;
}
 
.discussArticle {
color: #f93;
}
 
.maybeRejectArticle {
color: #f00;
}
 
.rejectArticle {
color: #900;
}
 
.customAccept1 {
color: #a2a;
}

.customAccept2 {
color: #888;
}

.customAccept3 {
color: #2c2;
}

.customAccept4 {
color: #cc0;
}

.customAccept5 {
color: #f93;
}

.customAccept6 {
color: #f00;
}

.customAccept7 {
color: #900;
}

.voidArticle {
}

.continent_AF {
  border-left: 4px solid #840;
  padding-left: 1px;
}

.continent_AM {
  border-left: 4px solid #c00;
  padding-left: 1px;
}

.continent_AS {
  border-left: 4px solid #ee0;
  padding-left: 1px;
}

.continent_EU {
  border-left: 4px solid #3c3;
  padding-left: 1px;
}

.continent_OC {
  border-left: 4px solid #66e;
  padding-left: 1px;
}

.continent_OT {
  border-left: 4px solid #999;
  padding-left: 1px;
}

.continent_last {
  padding-left: 5px;
}

/*        *
 * Tables *
 *        */

.smallCentered {
margin: 0; padding: 0;
text-align: center;
}

.dottedTable .smallCentered th, .smallCentered th {
margin: 0; padding: 0px 5px;
}

.dottedTable .smallCentered td, .smallCentered td {
margin: 0; padding: 0px 5px;
vertical-align: baseline;
text-align: center;
}

.smallCentered td.button {
padding: 0 5px;
}

.smallCentered td td {
text-align: left;
}

td.center {
text-align: center;
}

.dottedTable {
width: 99%;
margin: 0 auto;
}

.dottedTable td, .dottedTable th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px solid #ccc;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}

/* centeredTable, used only for Snapshot and Average in accept_reject page */

.centeredTable td{
text-align: center;
padding: 0 4px;
}

.centeredTable th{
text-align: center;
font-weight: bold;
padding: 0 4px;
}

.usersTable {
width: 99%;
}

.usersTable td {
text-align: center;
}

.usersTable td.leftAlign {
text-align: left;
}

.usersTable th.leftAlign {
text-align: left;
}

.usersTable td.button {
margin: 0; padding: 5px;
}

.leftAlign {
text-align: left;
}

.rightAlign {
text-align: right;
}

tr.topAlign {
vertical-align: top;
}

.articlesListTable {
margin: 0.5em 0 1em 20px; padding: 0;
font-size: 90%;
}

.articlesListTable td {
text-align: left;
padding-right: 5px;
}

.xmlTable td {
padding: 0 20px;
text-align: center;
vertical-align: top;
}

