/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
/*               *
 * General style *
 *               */

body {
color: #fff;
margin: 20px 14em 20px 20px;
background: #336b9a url("../images/cloud2.jpg") no-repeat fixed bottom right;
font-family: sans-serif;
font-size: 12px;
}

body.nomargin{
margin: 20px;
background: #336b9a;
}

table { 
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

a {
text-decoration: none;
font-weight: bold;
color: #ffa;
}

p {
text-align: justify;
}

input, textarea, select {
background: #fff;
color: #004;
border: 2px #004 solid;
padding: 2px;
font-size: 12px;
}

select.gradeSelect {
min-width: 4em;
}

input.noBorder {
background: transparent;
border: none;
}

input.largeInput {
background: #fff;
border: solid 1px #004;
font-size: 200%;
padding: 0;
margin: 0;
text-align: center;
}

h1 {
background: #004;
text-align: center;
margin-top: 0px;
border: 2px #fff solid;
padding: 2px 0px 2px 0px;
}

h2 {
margin: 30px 0px 10px 0px;
padding-left: 25px;
text-align: right;
border-bottom: 2px #fff solid;
}

h2 a {
color: #fff;
}

/*               *
 *  Right panel  *
 *               */

.navigate {
position: absolute;
top: 20px;
right: 1em;
width: 12.3em;
text-align: center;
}

.navigateTitle {
font-size: 115%;
background: #fff;
color: #004;
padding: 4px 0;
font-weight: bold;
}

.navigateTitle a {
color: #004;
display: block;
}

.navigateLinks {
border: 2px #fff solid;
margin: 2px 0px 20px 0px;
background: #004;
}

.navigateLinks p { 
margin: 2px; padding: 0;
text-align: center;
}

.navigateLinks a {
padding: 2px 0px;
display: block;
}

.navigateLinks a:hover {
background: #fff;
color: #004;
}

.navigateLinks a.noblock {
padding: 0px;
display: inline;
}

.navigateLinks p.topLine { 
padding-top: 2px;
border-top: solid 2px #fff;
}

.navigateTimes {
border: 2px #fff solid;
margin: 2px 0px 10px 0px;
background: #004;
padding: 2px;
}

.timeTitleTop {
font-weight: bold;
color: #ffa;
}

.timeTitle {
margin-top: 2px;
border-top: 2px #fff solid;
padding-top: 2px;
font-weight: bold;
color: #ffa;
}

.time {
font-weight: bold;
}

.time .timeUp {
font-size: 150%;
color: #f66;
}

.tinymargins { 
margin: 2px 0 0 0;
}

.bottomSpacer { 
height: 50em;
}

/*          *
 * messages *
 *          */

.messageBox {
width: 50em;
padding: 5px;
border: 2px dashed white;
font-family: courier, fixed;
font-weight: bold;
}

.paperBoxDetails .messageBox {
margin: 3px 0 0 7px;
border: 2px dashed #004;
}

.OKmessage {
padding: 5px 15px 5px 15px;
border: 2px #7f7 dashed;
font-weight: bold;
color: #7f7;
margin: 20px 50px;
text-align: justify;
}

.ERRmessage {
padding: 5px 15px 5px 15px;
border: 2px #f33 dashed;
font-weight: bold;
color: #f33;
margin: 20px 50px;
text-align: justify;
}

.infoMessage {
margin: 10px 50px;
padding: 5px 15px; 
border: 1px solid #004; 
background-color: white; 
color: #004; 
text-align: justify;
}

/*         *
 * buttons *
 *         */

.buttonLink {
border: 2px #004 solid;
margin: 2px 0 2px 2px;
padding: 2px 5px 1px 5px;
background: #fff;
font-weight: bold;
color: #004;
}

a.buttonLink {
padding: 3px 5px 2px 5px;
}

.buttonLink:hover {
border-color: #fff;
color: #fff;
background-color: #004;
}

.buttonLink a {
color: #004;
}

.currentButton {
color: #fff;
background-color: #004;
}

.bigButton { 
font-size: 120%;
padding: 5px 20px 4px 20px;
margin: 10px 2px;
border-width: 4px;
}

.incrButton {
margin: 0; padding: 0;
border: none;
width: 25px; /* 25 instead of 20 for safari */
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/incr.gif") no-repeat bottom left;
}

.decrButton {
margin: 0; padding: 0;
border: none;
width: 25px;
height: 20px;
font-size: 0;
font-weight: bold;
background: transparent url("../images/decr.gif") no-repeat top left;
}

/*               *
 * article boxes *
 *               */

.paperBox {
margin: 0px 0px 20px 0px;
text-align: left;
}

.paperBoxTitle {
background: #004;
color: #fff;
padding: 2px;
margin-bottom: 2px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-weight: bold;
font-size: 200%;
margin: 0px 20px 0px 5px;
text-align: left;
}

.paperBoxDetails {
border: 2px #004 solid;
background: #fff;
padding: 10px;
color: #004;
text-align: left;
}

.paperBoxDetails:after, .paperBoxDetailsCommittee:after {
  content: "";  
  display: block;
  clear: both;   
}

.newComment {
background: #ffc;
}

.paperBoxDetails td, .paperBoxDetails th {
color: #004;
}

.paperBoxDetailsWithdrawn {
border: 2px #004 solid;
background: #fff url("../images/withdrawn.gif");
padding: 10px;
color: #004;
}

.paperBoxDetailsCommittee {
border: 2px #004 solid;
background: #fff url("../images/committee.gif");
padding: 10px;
color: #004;
}

.customchecks {
  font-size: 13px;
  float: right;
  clear: right;
  text-align: right;
  font-weight: bold;
  color: #a2a;
}

.accept_reject_customcheckboxes {
  float: right;
  margin-right: 10px;
  margin-top: -1px;
}

.paperBox .badRatio {
font-size: 200%;
font-weight: bold;
color: #f00;
}

.paperBox .goodRatio {
font-size: 200%;
font-weight: bold;
color: #004;
}

/*         *
 * Pop-up  *
 *         */

div.popUp {
margin: 0; padding: 0;
position: relative;
}

div.popUp a { 
margin: 2px; padding: 2px 5px 1px 5px;
background-color: #fff;
border: 2px solid #004;
color: #004;
display: block;
}

div.popUp a:hover { 
background-color: #004;
border: 2px solid #fff;
color: #fff;
}

div.popUp div.hidden {
visibility: hidden;
display: block;
position: absolute;
top: 3.5em;
left: 0; 
width: 60em;
margin: 0;
padding: 0px;
z-index: 125;
background: transparent;
}

div.popUp:hover div.hidden { 
visibility: visible;
}

div.popUp div.hiddenOpposite {
visibility: hidden;
display: block;
position: absolute;
top: 3.5em;
right: 0; 
width: 55em;
margin: 0;
padding: 0px;
z-index: 125;
background: transparent;
}

div.popUp:hover div.hiddenOpposite { 
visibility: visible;
}


div.popUp div.hidden p { 
font-size: 100%;
border: none;
}


/*         *
 * various *
 *         */

.w3cValid {
margin: 20px 0 0; padding: 0; 
top: 100%;
width: 88px;
height: 31px;
}

.red {
color: #f00;
}

.floatRight {
margin: 0; padding: 0;
float: right;
}

.floatLeft {
float: left;
}

.floatRightClear {
clear: both;
float: right;
}

.clear {
clear: both;
}

.versionTitle {
font-weight: bold;
font-size: 160%;
}

.versionAuthors {
font-weight: bold;
font-size: 130%;
}

.versionAbstract {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.versionAbstract p {
margin: 0; padding: 0;
}

.nameList {
padding: 0px 20px;
font-size: 90%;
font-style: italic;
text-align: justify;
}

.chairComments {
padding: 5px 20px;
font-size: 90%;
font-style: italic;
text-align: justify;
}

.profileLeft {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
border-right: solid #fff 2px;
}

.profileRight {
margin: 0 0 0 20px;
padding: 0 0 0 20px;
border-left: solid #fff 2px;
}

.bigNumber {
font-size: 200%;
}

.voidReview {
font-weight: bold;
color: #f44;
}

.inProgressReview {
font-weight: bold;
color: #fb5;
}

.completedReview {
font-weight: bold;
color: #2d2;
}

.acceptArticle {
font-weight: bold;
color: #2d2;
}

.maybeAcceptArticle {
font-weight: bold;
color: #dd2;
}

.discussArticle {
font-weight: bold;
color: #fb5;
}

.maybeRejectArticle {
font-weight: bold;
color: #f66;
}

.rejectArticle {
font-weight: bold;
color: #e44;
}

.customAccept1 {
font-weight: bold;
color: #f7f;
}
.customAccept2 {
font-weight: bold;
color: #aaa;
}

.customAccept3 {
font-weight: bold;
color: #2d2;
}

.customAccept4 {
font-weight: bold;
color: #dd2;
}

.customAccept5 {
font-weight: bold;
color: #fb5;
}

.customAccept6 {
font-weight: bold;
color: #f66;
}

.customAccept7 {
font-weight: bold;
color: #e44;
}

.voidArticle {
}

.continent_AF {
  border-left: 4px solid #840;
  padding-left: 1px;
}

.continent_AM {
  border-left: 4px solid #c00;
  padding-left: 1px;
}

.continent_AS {
  border-left: 4px solid #ee0;
  padding-left: 1px;
}

.continent_EU {
  border-left: 4px solid #3c3;
  padding-left: 1px;
}

.continent_OC {
  border-left: 4px solid #66e;
  padding-left: 1px;
}

.continent_OT {
  border-left: 4px solid #999;
  padding-left: 1px;
}

.continent_last {
  padding-left: 5px;
}


/*        *
 * Tables *
 *        */

.smallCentered { 
margin: 0; padding: 0;
text-align: center;
font-size: 90%;
}

.dottedTable .smallCentered th, .smallCentered th { 
margin: 0; padding: 0px 5px;
}

.dottedTable .smallCentered td, .smallCentered td { 
margin: 0; padding: 0px 5px;
vertical-align: baseline;
text-align: center;
}

.smallCentered td.button { 
padding: 0 5px;
}

.smallCentered td td {
text-align: left;
}

td.center { 
text-align: center;
}

.dottedTable {
margin: 0;
border-collapse: collapse;
width: 95%;
}

.dottedTable td, .dottedTable th {
margin: 0; padding: 0;
text-align: center;
border-top: 1px dotted #fff;
}

.dottedTable .topRow {
border: none;
}

.dottedTable td td {
border: none;
}

.dottedTable td th {
border: none;
}

.dottedTable .leftAlign {
text-align: left;
}


.centeredTable td{
text-align: center;
padding: 0 4px;
}

.centeredTable th{
text-align: center;
font-weight: bold;
padding: 0 4px;
}

.usersTable td {
text-align: center;
}

.usersTable td.left {
text-align: left;
}


.usersTable th.leftAlign {
text-align: left;
}

.usersTable td.leftAlign {
text-align: left;
}

.usersTable td.button {
margin: 0; padding: 5px;
}



.leftAlign {
text-align: left;
}

.rightAlign {
text-align: right;
}

tr.topAlign {
vertical-align: top;
}
 
.articlesListTable {
margin: 0.5em 0 1em 20px; padding: 0;
font-size: 90%;
}

.articlesListTable td {
text-align: left;
}

.xmlTable td { 
padding: 0 20px;
text-align: center;
vertical-align: top;
}

