/*
 * Copyright (C) 2006, 2007 Thomas Baigneres, Matthieu Finiasz
 *
 * This file is part of iChair.
 *
 * iChair is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 * 
 * iChair is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */
body {
font-family: "trebuchet MS", sans-serif;
font-size: 11px;
margin: 10px;
background: #ffe;
}

h1 {
font-size: 200%;
background: #fff2f2;
text-align: center;
margin: 0;
border: 1px solid #fbb;
padding:  1px;
font-weight: normal;
color: #333;
}

input {
border: 1px #aeb solid;
padding: 2px;
font-size: 11px;
}

table {
border-collapse: collapse;
}

table td {
margin: 0;
text-align: left;
}

.buttonLink {
border: 1px #888 solid;
padding: 1px 5px 1px 5px;
color: #666;
margin: 2px 1px 2px 3px;
background: #f0f0f0;
cursor: pointer;
}

.buttonLink:hover {
color: #fff;
background: #888;
}

.bigButton {
font-size: 120%;
border-width: 1px;
padding: 4px 20px 4px 20px;
margin: 10px 2px;
}

.paperBox {
margin: 20px 0px 0px 0px;
text-align: left;
}

.paperBoxTitle {
background: #f2f2ff url("../images/coin-bleu.gif") top left no-repeat;
border: 1px #bbf solid;
padding: 2px;
margin-bottom: 1px;
text-align: left;
}

.paperBoxNumber {
float: left;
font-size: 200%;
margin: 0px 20px 0px 7px;
text-align: left;
color: #333;
}

.paperBoxDetails {
border: 1px #bbf solid;
padding: 5px;
background: #fff;
}

.customchecks {
  font-size: 13px;
  float: right;
  clear: right;
  text-align: right;
  font-weight: bold;
  color: #a2a;
}

.floatRight {
float: right;
}

.clear {
clear: both;
}

.versionTitle{
font-weight: bold;
font-size: 160%;
}

.versionAuthors{
font-weight: bold;
font-size: 130%;
}

.versionAbstract {
padding: 5px 20px;
font-size: 90%;
text-align: justify;
}

.continent_AF {
  border-left: 4px solid #840;
  padding-left: 1px;
}

.continent_AM {
  border-left: 4px solid #c00;
  padding-left: 1px;
}

.continent_AS {
  border-left: 4px solid #ee0;
  padding-left: 1px;
}

.continent_EU {
  border-left: 4px solid #3c3;
  padding-left: 1px;
}

.continent_OC {
  border-left: 4px solid #66e;
  padding-left: 1px;
}

.continent_OT {
  border-left: 4px solid #999;
  padding-left: 1px;
}

.continent_last {
  padding-left: 5px;
}
